.textarea {
    width: 100%;
    height: 130px;
}

.regiform {
    width: 400px;
    height: 500px;
}

.logiform {
    width: 400px;
    height: 350px;
}

#stylized {
    border: solid 2px #b7ddf2;
    background: #ebf4fb;
}



#stylized h1 {
    margin: 15px;
}



#stylized .label {
    display: block;
    font-weight: bold;
    text-align: right;
    width: 140px;
    float: left;
    font-family: tahoma;
}




#stylized #id,
#pw {
    float: left;
    font-size: 12px;
    padding: 4px 2px;
    border: solid 1px #aacfe4;
    width: 200px;
    margin: 2px 0 20px 10px;
}




#stylized #button {
    clear: both;
    margin-left: 150px;
    width: 125px;
    height: 31px;
    text-align: center;
    line-height: 31px;
    background-color: #000;
    color: #FFFFFF;
    font-size: 14px;
    font-weight: bold;
}




#stylized #cb1 {
    margin-left: 30px;
}



.xans-member-login h3 {
    margin: 0 0 20px 0;
    text-align: center;
}

.xans-member-login .login {
    border: 1px solid #d7d5d5;
    margin: 0 0 3px 0;
    padding: 30px 0;
    color: #2e2e2e;
}

.xans-member-login .login fieldset {
    position: relative;
    width: 350px;
    margin: 0 auto;
}

.xans-member-login .login fieldset .id,
.xans-member-login .login fieldset .password {
    overflow: hidden;
    display: block;
    width: 233px;
    margin: 0 0 2px;
    border: 1px solid #d9d9d9;
    border-radius: 2px;
    color: #8F8F91;
}

.xans-member-login .login fieldset .id span,
.xans-member-login .login fieldset .password span {
    float: left;
    width: 55px;
    height: 32px;
    line-height: 32px;
    padding: 0 0 0 8px;
    color: #c9c9c9;
}

.xans-member-login .login fieldset input {
    float: left;
    width: 165px;
    height: 28px;
    padding: 2px 2px 2px 3px;
    border: 0 none;
    color: #8F8F91;
}

.xans-member-login .login fieldset .security {
    padding: 0 0 0 5px;
    margin: 10px 0;
    color: #757575;
}

.xans-member-login .login fieldset .security input {
    width: 13px;
    height: 13px;
    margin: 0 3px 0 0;
    vertical-align: -3px;
    *vertical-align: 2px;
}

.xans-member-login .login fieldset .security label {
    margin: 0 6px 0 0;
}

.xans-member-login .login fieldset > a {
    position: absolute;
    top: 0;
    right: 7px;
}

.xans-member-login .login fieldset ul {
    overflow: hidden;
    padding: 8px 5px 5px;
    margin: 0;
    border: 0;
}

.xans-member-login .login fieldset li {
    float: left;
    padding: 0 9px 0 13px;
    background: url("http://img.echosting.cafe24.com/skin/base_ko_KR/member/ico_login.gif") no-repeat 0 2px;
}

.xans-member-login .login fieldset li a {
    color: #2e2e2e;
}

.xans-member-login .login fieldset .link {
    position: relative;
    margin: 25px 5px 0;
    padding: 25px 0 0 10px;
    color: #757575;
    border-top: 1px solid #e9e9e9;
    background: url("http://img.echosting.cafe24.com/skin/base_ko_KR/member/ico_login2.gif") no-repeat 0 29px;
}

.xans-member-login .login fieldset .link a {
    position: absolute;
    top: 25px;
    right: 0;
}

.xans-member-login .login fieldset .sns {
    margin: 10px 0 0 0;
    text-align: center;
    display: inline-block;
    vertical-align: top;
}

.xans-member-login .login fieldset #noMemberWrap {
    border-top: 0;
    margin-top: 0;
}



.xans-member-join h3 { padding:50px 0 10px; font-size:16px; color:#2e2e2e; }
.xans-member-join select { height:24px; margin:0 4px 0 0; }
.xans-member-join input,
.xans-member-join textarea { padding:4px; border:1px solid #d9d9d9; color:#202020; font-size:12px; }
.xans-member-join input[type=radio],
.xans-member-join input[type=checkbox] { width:14px; height:14px; margin:0 3px 0 0; padding:0; border:0; }
.xans-member-join div.grid,
.xans-member-join p.grid { margin:7px 0 0; }
.xans-member-join ul.grid li { margin:5px 0 0; }
.xans-member-join .required { margin:-25px 0 10px; color:#353535; text-align:right; }
.xans-member-join .required img { vertical-align:middle; }

.xans-member-join .boardWrite { table-layout:fixed; border:1px solid #d7d5d5; line-height:180%; }
.xans-member-join .boardWrite th { width:130px; padding:10px 0 8px 20px; border-top:1px solid #e8e8e8; border-right:1px solid #e8e8e8; background-color:#fbfafa; text-align:left; font-weight:normal; vertical-align:middle; }
.xans-member-join .boardWrite td { width:auto; padding:10px 0 8px 10px; border-top:1px solid #e8e8e8; }
.xans-member-join .boardWrite tr:first-child th,
.xans-member-join .boardWrite tr:first-child td { border-top:0; }
.xans-member-join .boardWrite input { height:23px; }
.xans-member-join .boardWrite select { height:24px; }
.xans-member-join .boardWrite img { vertical-align:middle; }
.xans-member-join .boardWrite a { text-decoration:none; }
.xans-member-join .boardWrite label { padding:0 20px 0 0; }
.xans-member-join .boardWrite.type th,
.xans-member-join .boardWrite.type td { padding:18px 0 18px 20px; }
.xans-member-join .boardWrite.typeAddinfo th,
.xans-member-join .boardWrite.typeAddinfo td { border-top:0; border-bottom:1px solid #e8e8e8; }
.xans-member-join .boardWrite.typeAddinfo label { display:inline-block; }
.xans-member-join .boardWrite .birth { margin:0 0 0 16px; }
.xans-member-join .boardWrite .interest { line-height:25px; }
.xans-member-join .boardWrite .interest label { padding:0 15px 0 0; }
.xans-member-join .boardWrite .account li { margin:5px 0 0; }
.xans-member-join .boardWrite .account li:first-child { margin-top:0; }
.xans-member-join .boardWrite .account strong { display:inline-block; width:55px; color:#202020; }
.xans-member-join .boardWrite .account input { margin:0 10px 0 0; }
.xans-member-join .agreeArea { padding:20px 20px 15px 20px; border:1px solid #d7d5d5; color:#747474; font-size:11px; line-height:20px; background:#fbfafa; }
.xans-member-join .agreeArea .agree { overflow:auto; height:110px; padding:20px; border:1px solid #e6e6e6; background:#fff; }
.xans-member-join .agreeArea .agree p { padding:0 0 17px; }
.xans-member-join .agreeArea .check { padding:7px 0 0 0; color:#202020; font-size:12px; }
.xans-member-join .btnArea { margin:20px 0 50px; text-align:center; }

/* INPUT SIZE */
.xans-member-join #hint_answer { width:500px; }
.xans-member-join #postcode1,
.xans-member-join #postcode2 { width:40px; text-align:center; }
.xans-member-join #addr1,
.xans-member-join #addr2 { width:280px; margin:5px 0 0; }
.xans-member-join #phone1,
.xans-member-join #mobile1 { width:60px; margin:0 4px 0 0; }
.xans-member-join #phone2,
.xans-member-join #phone3,
.xans-member-join #mobile2,
.xans-member-join #mobile3 { width:50px; margin:0 4px; }
.xans-member-join #email1 { margin-right:4px; }
.xans-member-join #email2 { margin:0 4px; }
.xans-member-join #birth_year,
.xans-member-join #marry_year,
.xans-member-join #partner_year { width:60px; margin:0 4px 0 0; }
.xans-member-join #birth_month,
.xans-member-join #marry_month,
.xans-member-join #partner_month,
.xans-member-join #birth_day,
.xans-member-join #marry_day,
.xans-member-join #partner_day { width:30px; margin:0 4px 0 0; }
.xans-member-join #bank_code { width:240px; }
.xans-member-join #c_bank_account_no { width:230px; }

.xans-member-join #job,
.xans-member-join #job_class,
.xans-member-join #school,
.xans-member-join #region,
.xans-member-join #internet,
.xans-member-join #child,
.xans-member-join #car,
.xans-member-join #earning { width:200px; }

.xans-member-join #add1,
.xans-member-join #add2,
.xans-member-join #add3,
.xans-member-join #add4,
.xans-member-join #add5,
.xans-member-join #add6,
.xans-member-join #add7,
.xans-member-join #add8,
.xans-member-join #add9 { width:500px; }

#realNameAuth p span { display:inline-block; width:80px; }
#ipinWrap img,
#mobileWrap img { display:block; }







html,
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
textarea,
p,
blockquote,
th,
td,
img {
    margin: 0;
    padding: 0;
}

html {
    width: 100%;
    height: 100%;
}

body,
code {
    font: 1em Verdana, Dotum, AppleGothic, sans-serif;
    color: #353535;
    background: #fff;
}

body {
    min-width: 100%;
}

body#popup {
    min-width: 0;
}

li {
    list-style: none;
}

img,
fieldset {
    border: none;
    vertical-align: top;
}

table {
    width: 100%;
    border: 0;
    border-spacing: 0;
    border-collapse: collapse;
}

caption {
    display: none;
}

th,
td {
    border: 0;
    vertical-align: top;
}

input,
select,
textarea {
    font-size: 100%;
    font-family: "돋움", Dotum;
    color: #353535;
    vertical-align: middle;
}

.inputTypeText {
    height: 19px;
    padding: 3px 0 0 9px;
    border: 1px solid #d5d5d5;
}

select {
    height: 24px;
    border: 1px solid #d5d5d5;
}

textarea {
    padding: 5px 6px;
    border: 1px solid #d5d5d5;
    line-height: 1.5;
}

legend {
    visibility: hidden;
    position: absolute;
    left: -9999px;
    top: -9999px;
    width: 0;
    height: 0;
    line-height: 0;
}

button {
    overflow: visible;
    padding: 0;
    margin: 0;
    border: 0;
    cursor: pointer;
}

hr.layout {
    display: none;
}

a {
    text-decoration: none;
    color: #000;
}

a:hover {
    text-decoration: underline;
}

a:active {
    text-decoration: none;
}

.objHidden {
    visibility: hidden;
    position: absolute;
    left: -1000px;
    top: -1000px;
    height: 0;
    width: 0;
}

table tr.radioType input,
span.noBorder input {
    border: none !important;
    width: auto !important;
    height: auto !important;
    margin: 0 3px 0 0 !important;
    vertical-align: middle !important;
    background: none !important;
}

#content_CONTAINER td {
    width: auto !important;
}

table.nneditor-table {
    width: auto !important;
}


#login_btn{
    position: relative;
    top: -72px;
    left: 240px;
}





