.answer {
	display: none;
	text-align: left;
	padding-left: 30px;
}

.header {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	background-color: #333;
	color: white;
	font-size: 1.5em;
	padding: 1rem;
	text-align: left;
	text-transform: uppercase;
}

.header .left {
	display: inline-block;
	margin-right: 1em;
}

.header .right {
	display: inline-block;
	margin-left: auto;
}

.table-users {
	border: 1px solid #327a81;
	border-radius: 10px;
	box-shadow: 3px 3px 0 rgba(0, 0, 0, 0.1);
	/*            max-width: calc(100% - 2em);*/
	margin: 1em auto;
	overflow: hidden;
	width: 100%;
}

table {
	width: 100%;
}

table td,
table th {
	color: #333;
	padding: 10px;
}

table td {
	text-align: center;
	vertical-align: middle;
}

table tr:nth-child(2n) {
	background-color: white;
}

table tr:nth-child(2n+1) {
	background-color: white;
}

#profile {
	padding: 0px;
}

#profile th,
#profile td {
	border: 1px solid lightgray;
}

#profile th {
	background-color: gray;
	color: white;
}

#reservation_info,
#mileage_info {
	border: 1px solid lightgray;
}

#reservation_info th,
#mileage_info th {
	background-color: gray;
	color: white;
}

#interest th {
	height: 30%;
	background-color: gray;
	color: white;
}

#interest {
	border: 1px solid lightgray;
}

#interest td {
	padding: 0;
}

#qna {
	border: 1px solid lightgray;
}

#qna th {
	background-color: gray;
	color: white;
}

#mileage {
	font-size:
}

aside {
	display: inline-block;
	vertical-align: top;
}

#main {
	display: inline-block;
	margin-left: 30px;
}

img {
	width: 430px;
	height: 300px;
}

/*
        @media screen and (max-width: 700px) {
            table,
            tr,
            td {
                display: block;
            }

            td:first-child {
                position: absolute;
                top: 50%;
                -webkit-transform: translateY(-50%);
                transform: translateY(-50%);
                width: 100px;
            }
            td:not(:first-child) {
                clear: both;
                margin-left: 100px;
                padding: 4px 20px 4px 90px;
                position: relative;
                text-align: left;
            }
            td:not(:first-child):before {
                content: '';
                display: block;
                left: 0;
                position: absolute;
            }
            td:nth-child(2):before {
                content: 'Name:';
            }
            td:nth-child(3):before {
                content: 'Email:';
            }
            td:nth-child(4):before {
                content: 'Phone:';
            }
            td:nth-child(5):before {
                content: 'Comments:';
            }

            tr {
                padding: 10px 0;
                position: relative;
            }

            tr:first-child {
                display: none;
            }
        }

        @media screen and (max-width: 500px) {
            .header {
                background-color: transparent;
                color: white;
                font-size: 2em;
                font-weight: 700;
                padding: 0;
                text-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
            }

            td:first-child {
                border-bottom: 1px solid #91ced4;
                border-radius: 10px 10px 0 0;
                position: relative;
                top: 0;
                -webkit-transform: translateY(0);
                transform: translateY(0);
                width: 100%;
            }

            td:not(:first-child) {
                margin: 0;
                padding: 5px 1em;
                width: 100%;
            }

            td:not(:first-child):before {
                font-size: .8em;
                padding-top: 0.3em;
                position: relative;
            }
            td:last-child {
                padding-bottom: 1rem !important;
            }

            tr {
                background-color: white !important;
                border: 1px solid #6cbec6;
                border-radius: 10px;
                box-shadow: 2px 2px 0 rgba(0, 0, 0, 0.1);
                margin: 0.5rem 0;
                padding: 0;
            }

            .table-users {
                border: none;
                box-shadow: none;
                overflow: visible;
            }
        }
*/
